<h1> WooHoo my blogs are posted now </h1>
<% @blog_posts.each do |blog_post| %>
  <div>
    <h2><%= link_to blog_post.title, blog_post %> </h2>
     <p><%= blog_post.content %> </p>
     <%if blog_post.draft?%>
      <div class="text-xs bg-indigo-200 rounded p-2">
        Draft
      </div>
      <%elsif blog_post.scheduled?%>
      <div class="text-xs bg-lime-200 rounded p-2">
        Scheduled
      </div>
     <%end%>
  </div>
<% end %>
